.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main{
  margin-left:250px;
  padding-top: 70px;
  background-color: lightgreen;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box{
  margin:1em;
}

.color-red {
  color: red;
}

.bg-yellow {
background-color: yellow;
}

.nav-container {
  width: 220px;
  height:100vh;
  background-color: gray;
  position: fixed;
  padding-top: 70px;

}


.footer-container{
  background-color: gray;

}

.topbar {
  background-color: lightcoral;
  position: fixed;
  width:100%;
  z-index: 50;
  height:70px;
}